{% extends "lab/header.html" %}

{% block content %}

<div id='luchador'>
  <div class='container'>
    <div id='small_col'>
      <h1>The Story</h1>
      <h2>Forged in the fiery underground film-wrestling rings of Florida, LessFilms brings its unique brand of humor and delight to your project. Not to mention, we're super easy to work with as long as you go along with all of our ideas and never give us any lip.</h2>
      <h3>
        In 1990...
      </h3>
      <div id='letter'>
        <p>
          Hey Mom!
        </p>
        <p>
          Summer camp is pretty cool, I've met some nice people. Yesterday I swung on the rope swing, it was scary but fun. Today I'm going to take wrestling lessons, I think wrestlers are pretty cool. Maybe one day I'll be a luchador wrestler and in my spare time do motion graphics videos. I know motion graphics videos haven't even been invented yet but who knows.
        </p>
        <p class='anyways'>
          Anyways see you soon!
        </p>
        <p>
          Love, Eric
        </p>
        <p>
          PS. Don't forget to feed Ricky the fish.
        </p>
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>

{% endblock %}