{% extends "lab/header.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="center-block">
                <div class="wrapper">
                    <div id="content" class="page col-full">
                        <section id="main" class="fullwidth">
                            <article class="post-18 page type-page status-publish has-post-thumbnail hentry">
                                <header>
                                    <h1>Welcome to the Yorklands Eco Learning Lab (YELL)!</h1>
                                </header>
                                <section class="entry">
                                    <h3>
                                         <p><b>W</b><b>HO WE ARE</b><b>:</b></p>
                                    <p>Created as a project of the Yorklands Green Hub, the YELL’s objective is to be a vehicle to educate, demonstrate, and inspire individuals and businesses to choose low impact and carbon neutral life styles. Collaborating with the University of Guelph and the transdisciplinary IDEAS Congress course, this lab was brought to life through the vision and work of 40 students from 14 disciplines. Together, we’ve developed every part of the YELL, from curriculum to structure and everything in between. It’s going to be an exciting ride. Come join us!
                                    </p>
                                    </h3>
                                   
                                    <h2>
                                        Our motto is: Educate. Demonstrate. Inspire.
                                    </h2>
                                    <h1>
                                        ICON Transdisciplinary Classroom 2016
                                    </h1>
                                    <h3>
                                        <p>
                                            ICON harnesses the power of collaboration and knowledge sharing in a problem-solving and project-based learning environment. This particular iteration of ICON partnered students and faculty at the University of Guelph, with the Yorklands Green Hub Initiative to produce an innovative, mobile learning experience for elementary students to gain access to knowledge about sustainability from a early age. With the help of Dr. Daniel Gillis and Dr. Shoshanah Jacobs, the ICON class leaders, the partnership introduced ICON students to broad real-world challenges and provided students with access to expertise from across campus and from the community.
                                        </p>
                                    </h3>
                                    <div class="main_block">
                                        <div class="inner_block">
                                            <figure>
                                                <img src="/static/images/dan.jpg">
                                                <figcaption><h3>Dr. Daniel Gillis</h3></figcaption>
                                            </figure>
                                        </div>
                                        <div class="inner_block">
                                            <figure>
                                                <img src="/static/images/sho.jpg">
                                                <figcaption><h3>Dr. Shoshanah Jacobs</h3></figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </section>
                                <!-- /.entry -->
                            </article>
                            <!-- /.post -->
                        </section>
                        <!-- /#main -->
                    </div>
                    <!-- /#content -->
                </div>
                <!-- /.wrapper -->
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h3>
                                        Click Below the image below to learn more about Yorkland Green Hub
                                    </h3>
            <h3><b><i>
                                <a href="http://yorklandsgreenhub.ca/whoweare/">

                                <img class="size-medium wp-image-121 alignleft" src="http://yorklandsgreenhub.ca/wp-content/uploads/2015/11/janes-walk-long-2015-1024x470.jpg" alt="IMG_0752" width="900" height="470" srcset="http://yorklandsgreenhub.ca/wp-content/uploads/2015/11/janes-walk-long-2015-1024x470.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" /></a></i></b></h3>
        </div>
    </div>
</div>
{% endblock %}
