{% extends "lab/header.html" %}

{% block content %}

<form method="POST">

    <!-- Included to prevent a particular kind of website attack -->
    {% csrf_token %}

    <!-- Table of form inputs for registration -->
    <table style="width: 300px; margin: 0 auto;">
        <tr>
            <td style="padding: 6px; text-align: right">First Name</td>

            <!-- This prints the <input> tag for the first name -->
            <td style="padding: 6px">{{ form.first_name }}</td>

            <!-- This prints problems that occurred while validating the first name. -->
            <td style="padding: 6px">{{ form.first_name.errors }}</td>
        </tr>

        <tr>
            <td style="padding: 6px; text-align: right;">Last Name</td>

            <!-- This prints the <input> tag for the last name. So on... -->
            <td style="padding: 6px">{{ form.last_name }}</td>

            <!-- This prints problems that occurred while validating the last name. So on... -->
            <td style="padding: 6px">{{ form.last_name.errors }}</td>
        </tr>
        

        <tr>
            <td style="padding: 6px; text-align: right;">E-Mail</td>
            <td style="padding: 6px">{{ form.email }}</td>
            <td style="padding: 6px">{{ form.email.errors }}</td>
        </tr>

        <tr>
            <td style="padding: 6px; text-align: right;">Password</td>
            <td style="padding: 6px">{{ form.password }}</td>
            <td style="padding: 6px">{{ form.password.errors }}</td>
        </tr>

        <tr>
            <td colspan="3" style="padding: 6px;" class="clearfix">
                <!-- Submit button, to send this information for registration -->
                <input class="btn btn-primary" style="margin: 0 auto; width: 100%;" type="submit" value="Register" />
            </td>
        </tr>

    </table>
</form>

{% endblock %}
