{% extends "lab/header.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2" id="myScrollspy">
            
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#sec0">
                            <h3>
							Introduction
						</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#sec1">
                            <h3>
							Feeding 9 Billion
						</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#sec2">
                            <h3>
							Black Box Initiative
						</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#sec3">
                            <h3>
						Coffee Cup Warriors
					</h3></a>
                    </li>
                    <li>
                        <a href="#sec4">
                            <h3>
						Food CampUS
					</h3></a>
                    </li>
                    <li>
                        <a href="#sec5">
                            <h3>
						Food Survival Guide
					</h3></a>
                    </li>
                </ul>

        </nav>
        <div class="col-sm-10">
            <div id="sec0">
                <h1>Our Friends</h1>
                <h3>
				<p>
				These are our Friends! They do the kind of stuff that we like. Promoting sustainable living practices, innovative change, waste reduction, and efficient uses of energy is what we're all about at Yorklands Eco Learning Lab. If you haven't already, check them out!
                          
				</p>
				</h3>
            </div>
            <div id="sec1">
                <a href="https://feedingninebillion.com/"><h1>Feeding 9 Billion</h1></a>
                <h3>
					<p>
						Feeding Nine Billion Challenge is a way to spark innovative and sustainable ideas to help combat food insecurity across the globe. Held every fall semester at the University of Guelph, this challenge helps bring together a multitude of creators and entrepreneurs in hopes to bring about lasting and worthwhile change to our community and the world. 
					</p>
				</h3>
            </div>
            <div id="sec2">
                <a href="https://www.facebook.com/blackboxinitiative/"><h1>Black Box Initiative</h1></a>
                <h3>
					<p>
						Right now, food waste is not managed separately by the University of Guelph. It's too expensive. We're the Black Box Initiative. We want to change that. We want to reduce the cost of organic waste removal and make the University more energy efficient by installing a small-scale pyrolysis unit. This unit will make garbage into “gold” in the forms of biochar and biofuel. These products will reduce university food waste, create energy, and make products that boost agricultural production.
					</p>
				</h3>
				<section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#1">
                                    <img src="/static/images/friends2.jpg">
                                </a>
                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/friends2.jpg">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>Image of Black Box Initiative</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sec3">
                <h1>Coffe Cup Warriors</h1>
                <h3>
					<p>
						Each day, 25,000 coffees are purchased on-campus at the University of Guelph; the majority of these are sold in disposable, single-use coffee cups. Not only do these non-recyclable coffee cups create significant and unnecessary landfill waste, but they also require enormous natural resource inputs for manufacturing and transportation to the point-of-sale. Drawing on the past successes of behavioural change campaigns and studies (e.g. reduced public acceptance of smoking and disposable shopping bag use), we aim to reduce the use of disposable coffee cups on-campus, in favour of increased reusable mug use. We are designing educational adverts inspired by effective behavioural-change campaigns to be displayed around campus to encourage students to change their coffee cup purchasing habits.
 
						
					</p>
				</h3>
				<section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#2">
                                    <img src="/static/images/friends3.jpg">
                                </a>
                                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/friends3.jpg">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is image of Coffe Cup Warriors</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <h2>
                    <p>
                        We want you to take initiative and decrease your use of single-use products in everyday life!
                    </p>
                </h2>
                <section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#6">
                                    <img src="/static/images/friends4.jpg">
                                </a>
                                <div class="modal fade" id="6" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/friends4.jpg">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>Image of Black Box Initiative</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sec4">
                <h1>Food CampUS</h1>
                <h3>
					<p>
						Food CampUS movement is working to create a Food Security and Community Education certificate program at the University of Guelph. The curriculum will follow themes of food security, sustainability, agriculture and nutrition. University co-op students will share their knowledge about food systems with elementary school students.

					</p>
				</h3>

				<section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#3">
                                    <img src="/static/images/friends1.jpg">
                                </a>
                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/friends1.jpg">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is image of Food CampUS </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sec5">
                <a href="https://www.foodsurvivalsquad.ca/"><h1>Food Survival Guide</h1></a>
                <h3>
					<p>
						
					We are food experts. We aim to help individuals maximize food, minimize waste and become more culinarily aware. Come check us out!
					</p>
				</h3>
				<section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#4">
                                    <img src="/static/images/play1.jpg">
                                </a>
                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/play1.jpg">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is image of Food Survival Guide</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <br>
                <a href="https://http://www.thebeemama.com/"><h1>Bee Mama</h1></a>
                <h3>
					<p>
							
                    The Bee Mama creates curriculum-based science with a bee/pollinator twist for children from Kindergarten to Grade 9. She also works with communities to help them create healthy habitats for people, plants and pollinators.
					</p>
				</h3>
				<section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#5">
                                    <img src="/static/images/bee.png">
                                </a>
                                <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/bee.png">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is image of bee banner</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               <a href="//131.104.48.191:5000"><h2>Local Flora</h2></a>
                <h3>
                    <p>
                        Local flora is more sustainable than foreign plants. It is more suited for the local environment because that is where it belongs. It requires less maintenance and the same amount of water that already falls in the region is enough to keep it healthy. Once you start bringing foreign plants into the local environment you start needing to water them different amounts, and use more effort to maintain them. Nigel from Halton Conservation has started to collect a database of local plants in the Halton region and compile them along with their prefered living conditions (soil type, moisture requirements, etc). This web application will allow for easy querying of the database so it is more accessible to the public and easier to use for organizations.

                    </p>
                </h3>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
