<!DOCTYPE html>
<html>
<head>
	<title>Eco Living Lab</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/york_icon.ico" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			width: 70%;
			margin: auto;
		}
	</style>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,body{
			height: 100%
		}
	</style>
</head>

<body class="body">

	<div class="header">
		<center>
			<h1>
				Eco Living Lab
			</h1>	
		</center>

		<br>
		<br>
	</div>

	<div>
		{% block content %}
		{% endblock %}
	</div>
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Eco Living Lab</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/aboutus/">About Us</a></li>
				<li><a href="/contactus/">Contact Us</a></li>
				<li><a href="/learn/">Learn</a></li>
				<li><a href="/live/">Live</a></li>
				<li><a href="/reduce/">Reduce</a></li>
				<li><a href="/play/">Play</a></li>
				<li><a href="/makeit/">Make it Happen</a></li>
				<li><a href="/yorkland/">Yorkland Green Hub</a></li>
				<li><a href="/reservations/calender/">Book</a></li>
			</ul>
		</div>
	</nav>

	<footer>
		<p>&copy; Website Sqaud, University of Guelph</p>
	</footer>
</body>

</html>