{% extends "lab/header.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2" id="myScrollspy">
            <div class="center-block">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#sec0">
                            <h2>
							Live
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec1">
                            <h2>
							Water
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec2">
                            <h2>
							Energy
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec3">
                            <h2>
							Waste
					</h2></a>
                    </li>
                    <li>
                        <a href="#sec4">
                            <h2>
						Food
					</h2></a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        <div class="col-sm-10">
            <div id="sec0">
                <h1>Living Environmentally Friendly</h1>
                <p>Living more sustainably can be immensely rewarding, not just emotionally, but also financially. Check out the different ways that you can create a more eco-friendly lifestyle, without driving yourself (or your family) crazy. Check out the different sections to see how you can implement a sanity (and money) saver that fits in your budget and lifestyle. Remember to do what you can, as you can, every little bit helps!
                </p>
                <h2>Our mission</h2>
                <p>
                    <h3>
					We’re just starting this adventure, working with the University of Guelph’s IDEAS Congress course students, to develop everything we will need to make this eco-learning lab something amazing. Together, this class of 40 students, from 14 different disciplines (Engineering, English literature, Biology, International Development, Food Science and Nutrition, Computer Sciences etc) are developing everything from the specs of what our lab will contain, the curriculum that we want to teach children, and everything we could possibly (conceivably) fit into our mobile lab. 
					</h3>
                </p>
            </div>
            <div id="sec1">
                <h1>Water</h1>
                <p>
                    <h3>
				The demand for water is growing due to climate change, population growth, and unequal distribution of freshwater resources. In this section, you’ll find information about innovative technologies to help you reduce water use, as well as tips on how to change your behavior and become more water aware.              
				</h3>
                </p>
                <h2>
					Water Team
				</h2>
                <h3>
					<p>
						The water team's goal is to analyze and implement sustainable and energy efficient water use systems into the Yorklands Eco Learning Lab. We aim to instill water awareness values not only into the YELL, but into everyday life through engaging students in hands-on activities that promote and demonstrate water sustainability. We are looking into the local context of Guelph through designing a water curriculum, a green wall system, and analyzing relevant grey water and rainwater policies and regulations.
					</p>
				</h3>
                <h2>How You Can Save On Water At Home</h2> 
                <p>
                    <h2>
							Change Bad Habits
						</h2>
                    <ul style="list-style-type:circle">
                        <h3>
							<li>Don’t leave the tap running while brushing your teeth or using the bathroom</li>
							<li>Take shorter showers</li>
							<li>Don’t flush the toilet unnecessarily – dispose of waste in a garbage pail </li>
							<li>Check for leaks regularly and ensure all fixtures are working properly</li>
							</h3>

							<h2>Make Small Improvements</h2> 
							<h3>
							<li>Plant your garden with plants that are native to your area </li>
														<li>Buy a rain barrel for use in the garden</li>
							</h3>
							<h2>Update the fixtures in your home to more efficient ones. This includes:
							</h2>
							<h3>
							<li>Toilets</li>
							<li>Showerheads</li>
							<li>Faucets</li>
							<li>Purchase efficient appliances</li>
							<li>Use washing machines and dishwashers with “eco settings” to minimize water use</li>
							</h3>

							<h2>Revolutionize your home</h2>
							<h3>
							<li>Install grey water systems or advanced rainwater systems</li>
							<li>Grey Water System</li>
							<li>Rain water collection</li>
							<li>Rebates for washing machine and dishwasher</li>
							<li>
								Landscape your home to make better use of water
							</li>
							
						</h3>
                    </ul>
            </div>
            <div id="sec2">
                <h1>Energy</h1>
                <p>
                    <h2>
							Energy Tips
						</h2>
                    <ul style="list-style-type:circle">
                        <h3>
							<li>Tips to help you reduce everyday energy use. </li>
							<li>How energy is generated today </li>
							<li>Solar Energy</li>
							<li>Hydrogen fuel cell</li>
							<li>
								Photovoltaics
							</li>
							<li>
								Wind energy
							</li>
							<li>
								Hydrokinetic energy
							</li>
							<li>
								Combining renewable energy power generators
							</li>
							<li>
								Storing energy from renewable power generation systems
							</li>
						</h3>
                    </ul>
                </p>
            </div>
            <div id="sec3">
                <h1>Waste</h1>
                <p>
                    <h2>
							Waste Tips
						</h2>
                    <ul style="list-style-type:circle">
                        <h3>

							<li>Reduce your waste</li>
							<li>Using waste for energy</li>
							<li>Reduce food waste</li>
							
						</h3>
                    </ul>
                </p>
            </div>
            <div id="sec4">
                <h1>Food</h1>
                <h2>
                <p>
                	In this section, you’ll learn how you can improve food security for you, your community, and the world. Find tips on how to reduce food waste, grow your own food, and support agencies that provide food for those who are food insecure.  

                	</p>
                </h2>
                <ul style="list-style-type:circle">
                        <h3>
                     
							<li>Learn how to grow your food</li>
							<li>How to reduce food waste</li>
							<li>Preserving foods </li>
							<li>Food safety</li>
							<li>Sharing food in your community</li>
							<li>Support local food banks/get food help you need</li>
							<li>Native edible plants you can grow/harvest (gleaning)</li>
						</h3>
                    </ul>
                
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
