{% extends "lab/header.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2" id="myScrollspy">
            <div class="center-block">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#sec0">
                            <h2>
							Play
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec1">
                            <h2>
							Games
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec2">
                            <h2>
							Activites
						</h2>
                        </a>
                    </li>
                    <li>
                        <a href="#sec3">
                            <h2>
						Puzzles
					</h2></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-sm-10">
            <div id="sec0">
                <h1>Fun activites and Games to Play</h1>
                <h2>
                    <p>
                        Combines learning with play so that children can integrate sustainable living in a fun way!
                        Here you’ll find games, activities, puzzles, and crafts that you can do with your children. 

                        All work and no play makes life dull! Come here to have fun, and maybe learn something at the same time! 
                    </p>
                </h2>
            </div>
            <div id="sec1">
                <h1>Games</h1>
                <h3>
                    <p>
                        Homework is too often no fun, but maybe it can be. These games are intended to let students have fun while learning about sustainable living practices with regards to the 4 curriculum subjects: Waste, Water, Energy and Food. They can be an important additional learning tool to what we learn at the YELL, or they can just be a little bit of fun. Your choice! 
                    </p>
                </h3>
                <h2>
					Example of games.
				</h2>
                <section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#1">
                                    <img src="/static/images/play2.png">
                                </a>
                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/play2.png">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the blueprint of wall</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sec2">
                <h1>Activites</h1>
                <p>
                    Fun Activites
                </p>
            </div>
            <div id="sec3">
                <h1>Puzzles</h1>
                <h2>Examples of Puzzles</h2>
                <section>
                    <div class="container gal-container">
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#2">
                                    <img src="/static/images/play3.png">
                                </a>
                                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/play3.png">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is an example of word puzzle</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>
								Solution
							</h3>
                        <div class="col-lg-12 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#3">
                                    <img src="/static/images/play4.png">
                                </a>
                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="/static/images/play4.png">
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is example of solution to word puzzle</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
