<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-">
            <h1>
                Book YELL Today!!
            </h1>
            <h2>
                Before you book, please check if you meet the requirment below. 
            </h2>
            <h3> What you need
                <ul style="list-style-type:circle">  
                    <li>Easy access to outdoor electrical hookup</li>
                    <li>Easy access to water hookup</li>

                </ul>
            </h3>
            <h3>
                What you get    
                <ul style="list-style-type:circle">

                    <li>Access to the lab for your scheduled time</li>
                    <li>One educational leader</li>
                    <li>
                        Curriculum package for the instructor
                    </li>
                </ul>
            </h3>
            <h4>
                <p>
                    How to use: 
                    <ul style="list-style-type:circle">
                    <li>Make sure you SIGN-IN before trying to make reservation</li>
                    <li>Click on one or more available date to book </li>
                        <li>Once the date/dates have been selected, Click Confirm Reservation</li>
                        <li>
                            Verify that your dates are booked by clicking "View Reservation" button
                        </li>
                    </ul>
                </p>
            </h4>
        </div>
    </div>
</div>
