{% extends "lab/header.html" %} {% block content %}
<div>
    <h1>
		Current Reservation Dates

	</h1>
</div>
{% for reservation in reservations %}
<div style="border-radius: 10px; width: 100px; margin: 16px auto 0 auto; padding: 6px; box-shadow: 0 0 1px 0 black">
    {% for date in reservation %} {{ date.date }} {% endfor %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="myScrollspy">
            <div class="center-block">
                <br>
                <a href="/reserve/" class="btn btn-info" role="button">
                    <center>
                        Back to Reservation
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br> {% endfor %} {% endblock %}
